@model WebShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Brand)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Model)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Image)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

