@model WebShop.Models.Order

@{
    ViewBag.Title = "Checkout";
}

<h2>Order reciept</h2>

<h4>Order ID: @Model.Id</h4>
<h4>Order Date: @Model.OrderDate</h4>

@foreach (var item in Model.OrderRows)
{
    @item.Amount
    @item.Product.Brand
    @item.Product.Model
    @item.Price
        
}