@model WebShop.Models.Order

@{
    ViewBag.Title = "Checkout";
    var tot = 0;
}

<h2>Order reciept</h2>

<h4>Order ID: @Model.Id</h4>
<h4>Order Date: @Model.OrderDate</h4>

@*@foreach (var item in Model.OrderRows)
    {
        @item.Amount
        @item.Product.Brand
        @item.Product.Model
        @item.Price
        tot = tot + (item.Amount * item.Product.Price);

    }
    @tot*@

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Amount</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderRows)
        {
        <tr>
            <td>@item.Amount</td>
            <td>@item.Product.Brand</td>
            <td>@item.Product.Model</td>
            <td>@(item.Price)kr</td>
        </tr>
            tot = tot + (item.Amount * item.Product.Price);
        }

    </tbody>
</table>
<h3>Total price: @tot</h3>
