@model WebShop.Models.Order

@{
    ViewBag.Title = "OrderHistoryDetails";
    var tot = 0;
}

<h2>Order History Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.OrderRows.First().Product.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.OrderRows.First().Product.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.OrderRows.First().Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.OrderRows.First().Price)
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OrderRows)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @(item.Amount * item.Price)kr
                </td>
            </tr>
                tot = tot + (item.Amount * item.Product.Price);
            }

        </tbody>
    </table>
    
<h3>Total: @(tot)kr</h3>

<p>
    @Html.ActionLink("Back to List", "OrderHistory")
</p>

