@model IEnumerable<WebShop.Models.Product>

@{
    ViewBag.Title = "AddProduct";
}

<h2>Add product to order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
                                                                 @*Student Id*@  @*Course Id*@
            @Html.ActionLink("Add", "ProductToOrderRow", new { pId = item.Id, oId = ViewBag.oId })
        </td>
    </tr>
}

</table>
