@model WebShop.Models.Order

@{
    ViewBag.Title = "Details";
}


<h2>Order details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>

@Html.ActionLink("Add item", "AddProduct", new { oId = Model.Id })
<div>
    @foreach (var item in Model.OrderRows)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => item.Products.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Products.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Products.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Products.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Amount)
            </dd>
            <dt>

            </dt>

            <dd>
                @Html.ActionLink("Remove", "RemoveProductFromOrderRow", new { pId = item.Products.Id, oId = Model.Id })
            </dd>
        </dl>
    }
</div>
@Html.ActionLink("Back to List", "Index")